@page "/profile"
@page "/profile/{RequestedUser}"
@using Ex2022Timurshin320.Data.Users
@inject NavigationManager navManager
@inject UserService userService
@inject IJSRuntime JS

<PageTitle>Профиль @User.Email</PageTitle>
<div class="d-flex flex-column justify-content-between" style="max-width: 45em; margin: 0 auto; padding-bottom: 5em;">
	<h3 class="align-self-center">Профиль @User.Email</h3>
	<form @onsubmit="UpdateUser">
		@if (Error != "")
		{
			<div class="form-control alert alert-danger">@Error</div>
		}
		<label>Почта: @User.Email</label>
		<br />
		<label>Имя:</label>
		<input class="form-control" @bind="User.FirstName"/>
		<br />
		<label>Фамилия:</label>
		<input class="form-control" @bind="User.LastName"/>
		<br />
		<div class="border-bottom mb-3"></div>
		@if (!Requested)
		{
			<label>Старый пароль:</label>
			<input class="form-control" @bind="OldPassword" />
			<br />
		}
		<label>Новый пароль:</label>
		<input class="form-control" @bind="NewPassword" />
		<br />
		<label>Повторите новый пароль:</label>
		<input class="form-control" @bind="ReNewPassword" />
		<br />
        <label>Ссылка на фото: </label>
		<input class="form-control" @bind="@User.PhotoId" />
        <img src="@User.PhotoId" />
        <br/>
		<input class="btn btn-primary" type="submit" placeholder="Обновить профиль" />
	</form>
</div>
@code {

	[Parameter]
	public string? RequestedUser { get; set; }

	AppUser User;
	string OldPassword = "";
	string NewPassword = "";
	string ReNewPassword = "";
	string Error = "";
	bool Requested = false;

	protected override void OnInitialized()
	{
		if (!AuthStateProvider.IsAuthenticated)
		{
			navManager.NavigateTo("login");
		}
		User = userService.GetCurrentUser();
	}

	private async void AddError(string error)
	{
		Error = error;
		StateHasChanged();
		await JS.InvokeVoidAsync("scrollToTopfunc");
	}

	private async void UpdateUser()
	{
		if (OldPassword != "" && NewPassword != "" && ReNewPassword != "")
		{
			UpdatePassword();
		}
		string res = userService.UpdateUser(User);

		if (res == "") navManager.NavigateTo("");
		else AddError(res);
	}
	private void UpdatePassword()
	{
		string res = "";
		if (Requested)
		{
			res = userService.UpdatePassword(User, NewPassword, ReNewPassword);
		} else {
			res = userService.UpdatePassword(User, OldPassword, NewPassword, ReNewPassword);
		}
		if (res == "")
		{
			navManager.NavigateTo("");
		} else 
		{
			AddError(res);
		}
	}
}
